/**
Importing fonts
**/
@font-face {
    font-family: 'sticks';
    src: url('../resources/fonts/sticknobills-webfont.woff2') format('woff2'),
         url('../resources/fonts/sticknobills-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pontano';
    src: url('../resources/fonts/pontanosans-regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/pontanosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**
Setting font types
**/
body{
    font-family: 'pontano';
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    overflow-y: scroll;
    color: #000;
    /* background: #134E5E;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #71B280, #134E5E);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #71B280, #134E5E); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* background: #1FA2FF;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


/* background: #77A1D3;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #4cb94d, #79CBCA, #77A1D3);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #4cb94d, #79CBCA, #77A1D3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */

}
h1,h2,h3,h4,h5,h6{
    font-family: 'sticks';
}

/**
Setting font sizes
**/

h1{
    font-size: 4.8rem;
}
h1.title{
    text-align: center;
    /* font-size:15.407rem; */
}
h2.sub-title{
    text-align: center;
    /* font-size:7.407rem; */
}
/*social icons*/
div.social-icons{
    text-align: center;
    padding: 18px;
}
div.social-icons a{
    color: inherit;
    display: inline-block;
    visibility: hidden;
    
}
div.social-icons i{
    font-size: 4rem;
    margin: 8px;
    text-decoration: none;
}
/*
About Section Styles
*/
section{
    
}
section .section-about{
    /* background-image: url('../resources/bgs/wickedbackground.svg'); */
    background-color: rgba(255,255, 255, 0.6);
    color: #999;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    width: 60%;
    height: 40%;
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 20%;
}

/*Cursor robots styles*/
.robots{
    position:absolute;
    top:0;
    left:0;
}
.robot{
    position: absolute;
    visibility: hidden;
    z-index: 5;
    font-size: 4rem;
}

/* nav styling */
svg .circle{
    background: #D31027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
rect{
    display: block;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.navigation .nav-item{
    display: none;
    visibility: hidden;
}
.navigation nav .nav-item i{
    font-size: 5rem;
    color: purple;
}
.navigation nav .nav-item i:hover{
    cursor: pointer;
    /* transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2); */
}
.menu-text-items{
    font-size: 1.8rem;
    width: 160px;
    margin: 60px auto 0 auto;
    overflow: hidden;
    height: 80px;
    position: relative;
}
.menu-text-item{
    display: none;
    width: 160px;
    display: inline;
    position: absolute;
    float: left;
    line-height: 80px;
    left: -160px;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
}