/**
Importing fonts
**/
@font-face {
    font-family: 'sticks';
    src: url('../resources/fonts/sticknobills-webfont.woff2') format('woff2'),
         url('../resources/fonts/sticknobills-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pontano';
    src: url('../resources/fonts/pontanosans-regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/pontanosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**
Setting font types
**/
body{
    font-family: 'pontano';
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    overflow-y: scroll;
    color: #000;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'sticks';
}

/**
Setting font sizes
**/

h1{
    font-size: 2.6rem;
}
header .information{
    float: left;
    margin-left: 12px;
    overflow: visible;
}
h1.title{
    text-align: left;
    margin-bottom: 6px;
    visibility: hidden;
    /* font-size:15.407rem; */
}
h2.sub-title{
    text-align: left;
    margin-top: 0;
    visibility: hidden;
    /* font-size:7.407rem; */
}
.gradient-text-one {
    /* Fallback: Set a background color. */
    background-color: #02aab0;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #02aab0, #00cdac); 
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
/*social icons*/
div.social-icons{
    text-align: right;
    float: right;
    margin-right: 12px;
    padding: 18px;
}
div.social-icons a{
    color: inherit;
    display: inline-block;
    visibility: hidden;
    
}
div.social-icons i{
    font-size: 4rem;
    margin: 8px;
    text-decoration: none;
}
div.social-icons i:hover{
    transform: scale(1.2);
    transition-duration: 1.2 ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*
About Section Styles
*/
section{
    
}
section .section-about{
    background-color: rgba(255,255, 255, 0.6);
    color: #999;
    background-size: 100%;
    width: 60%;
    height: 40%;
    position: absolute;
    overflow: hidden;
    top: 20%;
    left: 20%;
}

/*Cursor robots styles*/
.robots{
    position:absolute;
    top:0;
    left:0;
}
.robot{
    position: absolute;
    visibility: hidden;
    z-index: 5;
    font-size: 4rem;
}

/* nav styling */
svg .circle{
    background: #D31027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
rect{
    display: block;
}
div.navigation{
    clear: both;
    float: none;
    margin-top: 200px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    clear: both;
    padding: 12% 0 0 0;
}
.navigation .nav-item{
    display: none;
    visibility: hidden;
}
.navigation nav .nav-item i{
    font-size: 4rem;
    color: inherit;
}
.navigation nav .nav-item i:hover{
    cursor: pointer;
}
.menu-text-items{
    font-size: 1.8rem;
    width: 160px;
    margin: 12px auto 0 auto;
    overflow: hidden;
    height: 80px;
    position: relative;
}
.menu-text-item{
    display: none;
    width: 160px;
    display: inline;
    position: absolute;
    float: left;
    line-height: 80px;
    left: -160px;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
}
div.sections{

}
section{
    visibility: hidden;
    font-size: 1.6rem;
    padding: 2.2rem;
    line-height: 2.6rem;
    display: none;
    visibility: hidden;
    color: white;
    width: 60%;
    margin: 20px auto 20px auto;
    border-color: black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: justify;
    background: rgba(255,255, 255, 0.6);
    color: black;
    box-shadow: 1px -1px 12px -4px rgba(196,196,196,1);
    -webkit-box-shadow: 1px -1px 12px -4px rgba(196,196,196,1);
    -moz-box-shadow: 1px -1px 12px -4px rgba(196,196,196,1);
}
