/**
Importing fonts
**/
@font-face {
    font-family: 'sticks';
    src: url('../resources/fonts/sticknobills-webfont.woff2') format('woff2'),
         url('../resources/fonts/sticknobills-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pontano';
    src: url('../resources/fonts/pontanosans-regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/pontanosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**
Setting font types
**/
body{
    font-family: 'pontano';
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'sticks';
}

/**
Setting font sizes
**/

h1{
    font-size: 4.8rem;
}
h1.title{
    text-align: center;
    font-size:15.407rem;
}
h2.sub-title{
    text-align: center;
    font-size:10.407rem;
}
/*social icons*/
div.social-icons{
    text-align: center;
    padding: 18px;
}
/*
About Section Styles
*/
section{

}
section .section-about{
    background-image: url('../resources/bgs/wickedbackground.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}

/*Cursor robots styles*/
.robots{
    position:absolute;
    top:0;
    left:0;
}
.robot{
    position: absolute;
    visibility: hidden;
    z-index: 5;
}